@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans:ital,wght@0,400;1,300&family=PT+Sans:ital@1&family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(rgba(0,0,0,0.5), #A9CCE3), url("/logo.webp");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}


ul {
    display: flex;
    list-style-type: none;
}

.nav-links ul li a {
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    margin: auto;
    display: block;
    transition: 0.6s;
}
.nav-links ul li:hover::after {
    width: 60%;
}


.logo h1 {
    color: white;
    font-size: 30px;
}

.main-content {
    position: absolute;
    top: 250px;
    color: white;
    text-align: center;
}

.main-content h2 {
    font-size: 60px;
}

.main-content p {
    padding: 0 ;
    margin-left: 350px;
    margin-right: 350px;
    line-height: 20px;
    margin-top: 20px;
}

.main-content button {
     padding: 10px;
     margin-top: 20px;
     background-color: transparent;
     border-radius: 3px;
}

.main-content button:hover {
    background-color: orangered;
    transition: all 1s;
    cursor: pointer;
    color: white;
}

/*Course*/

#course-main {
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 70px;
}

.course-heading h3 {
    font-size: 45px;
    font-family: 'EB Garamond', serif;

}

.course-heading p {
    margin-top: 10px;
    font-size: 18px;
}

.cards {
    display: flex;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;

}

.card {
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    background-color: #DAE4E7;
    font-family: 'EB Garamond', serif;

}

.card p {
    padding-top: 10px;
    text-align: center;

}

.card:hover {
    box-shadow: 3px 4px 20px #BDDDE6;
}

@media screen and (max-width: 700px) {
    .cards {
        display: block;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    
    }
    
    #course-main {
        width: 100%;
        height: 800px;
        text-align: center;
        margin-top: 50px;
    }
}

/*Campus section*/

#campus-main {
    width: 100%;
    height: 100vh;
    background-color: #DAE4E7;
    text-align: center;
}

.campus-heading h3 {
    font-size: 45px;
    font-family: 'EB Garamond', serif;

}

.campus-heading p {
    margin-top: 10px;
    font-size: 18px;
}

.pic-main {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

.single-pic img {
      width: 330px;
      height: 400px;
      border-radius: 5px;
}

.single-pic {
    position: relative;
}

.single-para {
    top: 0;
    left: 80px;
    position: absolute;
    opacity: 0;
    color: white;
}

.deepu {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #A9CCE3);
    opacity: 0;
    transition: 1s;
}

.single-pic:hover .deepu {
    font-size: 30px;
    cursor: pointer;
    opacity: 1;
}

.single-pic:hover .single-para {
    opacity: 1;
}


@media screen and (max-width: 700px) {
    #campus-main {
        width: 100%;
        height: 800px;
        background-color: #DAE4E7;
        text-align: center;
    }

  .pic-main {
     display: block;
     width: 100%;
     justify-content: space-around;
     margin-top: 20px;
}
   
  .single-pic img {
     width: 250px;
     height: 200px;
     border-radius: 5px;
}

}


/*facilities*/

#facilities {
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 70px;
}

.facilities-heading h3 {
    font-size: 45px;
    font-family: 'EB Garamond', serif;
}

.facilities-heading p {
    margin-top: 10px;
    font-size: 18px;
}

.facilities-pic {
    display: flex;
    justify-content: space-around;    
}

.facility-single {
    margin-top: 50px;
    text-align: left;
    margin-left: 30px;
}

.facility-single img {
    width: 350px;
    border-radius: 8px;    
}

.facility-single h2 {
    margin: 10px 0;
}

/*media query*/

@media screen and (max-width: 700px) {
    
.facilities-pic {
    display: block;
    justify-content: space-around;    
}  
#facilities {
    width: 100%;
    height: 900px;
    text-align: center;
    margin-top: 30px;
}

.facility-single img {
    width: 250px;
    border-radius: 8px;    
}  
.facility-single {
    margin-top: 30px;
    text-align: center;
 }
  
.facility-single h2, p {
    margin: 5px 0;
    font-size: 17px;
    text-align: left;
    margin-left: 70px;
 }

}

/*testimonial section*/

#testimonial {
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: 70px;
}

.testimonial-heading h3 {
    font-size: 45px;
    font-family: 'EB Garamond', serif;
}

.testimonial-heading p {
    margin-top: 10px;
    font-size: 18px;
}

.testimonial-single img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial-main {
    margin-top: 40px;
   margin-left: 100px;
    width: 80%;
    display: flex;
    height: 150px;
}

.testimonial-single {
    display: flex;
    background: #A9CCE3;
    border-radius: 6px;
   padding: 40px 30px;
   margin: 0 30px;
}

.testimonial-text {
    text-align: left;
    padding-left: 20px;
}

.testimonial-text h2 {
    font-size: 18px;
}


.testimonial-text p {
    font-size: 13px;
}

.icons-star {
    margin-top: 10px;
}

/*media query*/

@media screen and (max-width : 700px) {
    .testimonial-single {
        display: block;
        background: #A9CCE3;
        border-radius: 6px;
       padding: 20px 20px;
       
       margin: 40px 0;
    }

    #testimonial {
        width: 100%;
        height: 700px;
        text-align: center;
        margin-top: 40px;
    }
   
.testimonial-text {
    text-align: center;
    padding-left: 20px;
}
    
.testimonial-main {
    margin-top: 30px;
    
   margin-left: 60px;
    width: 80%;
    display: block;
    height: 150px;
}
.testimonial-single img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

}

/*Call to Action*/

#call-action {
    width: 100%;
    height: 400px;
}

.call-main {
    background: url("/images/entrepreneurs-meeting-office.jpg");
    height: 300px;
    background-position: center;
    
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0;
    width: 900px;
    margin-left: 170px;
}

.call-main h2 {
    color: white;
    font-size: 35px;
}

.call-main button {
    padding: 10px;
    background-color: black;
    margin-top: 20px;
    border-radius: 8px;
}

.call-main button a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}


/*About us section*/

#about-main {
    width: 100%;
    height: 200px;
}

.last {
    text-align: center;
}

.last h2 {
    margin-bottom: 20px;
}

.icon-media i {
    margin-top: 20px;
    padding: 0 6px;
    color: #A9CCE3;
    margin-bottom: 20px;
    cursor: pointer;
}

.last p i {
    color: red;
}


/*-----------about us----------------*/

.navbar {
    display: flex;
    justify-content: space-around;
    background: url("images/2808171_18434.JPG");
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}
.main-contents {
    position: absolute;
    top: 200px;
    color: white;
    text-align: center;
}

.main-contents h2 {
    font-size: 60px;
}

.all-cont {
    margin-top: 90px;
    display: flex;
    width: 80%;
   justify-content: space-around;
   margin-left: 100px;
}

.all-text h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

.all-text p {
    margin-bottom: 30px;
}

.all-pic img {
    width: 400px;
    height: 300px;
    margin-left: 50px;
}

.lasts {
    margin-top: 70px;
    text-align: center;
}

.all-text a {
    font-size: 20px;
    color: brown;
    border: 1px solid brown;
    text-decoration: none;
    padding: 10px;
}

.all-text a:hover {
    background-color: orange;
    color: white;

}

/*------Blog page------*/

.main-cont {
    position: absolute;
    top: 200px;
    color: white;
    text-align: center;
}

.main-cont h2 {
    font-size: 50px;
}

#blog-main {
    width: 80%;
    margin: auto;
}   

.blog-left {
    margin-top: 100px;
    width: 70%;
}

.blog-left img {
     width: 100%;
}

.blog-left h2 {
    margin: 30px 0;
    font-family: 'EB Garamond', serif;
}

.blog-left p {
    font-family: 'EB Garamond', serif;

}

.blog-right {
    margin-left: 100px;
    margin-top: 100px;
}

.blog-right h3 {
    background-color: #f44336;
    font-weight: 700;
    width: 300px;
    color: white;
    padding: 5px 0px;
    text-align: center;
    margin-bottom: 30px;
}

.row {
    display: flex;    
}

.blog-right div {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.comment-main {
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px 15px;
    margin-bottom: 40px;
}

.comment-main input, textarea{
    width: 100%;
    padding: 10px 10px;
     margin: 10px 0;
    border: none;
    background: #f0f0f0;
}

.comment-main button {
    border: 1px solid brown;
    padding: 10px 10px;
    color: brown;
    cursor: pointer;
}

.comment-main button:hover {
    background-color: black;
    color: white;
}

/*location section*/

#location {
    width: 80%;
    padding: 40px 0;
    margin: auto;
    height: 1100px;
}

.loc-con {
        padding-top: 70px;
}

.iconi-main {
    display: flex;
}

.iconi h4 {
    padding-left: 10px;
}

.loc-con span p {
    padding: 10px 24px;
}

.iconi-main i {
    color: skyblue;
}

.loc-con {
    position: relative;
}

.iconi-right {
    top: 40px;
    left: 400px;
    position: absolute;
}

.iconi-right {
    margin-top: 10px;
    padding: 10px 15px;
    margin-bottom: 40px;
    
}

.iconi-right input, textarea{
    width: 100%;
    padding: 10px 10px;
     margin: 10px 0;
    border: none;
    background: #f0f0f0;
}

.iconi-right button {
    border: 1px solid brown;
    padding: 10px 10px;
    color: brown;
    cursor: pointer;
}

.iconi-right button:hover {
    background-color: black;
    color: white;
}
